:root {
    --white: #ffffff;
    --gray: #adb5bd;
    --gray-light: #e1e1e1;
    --gray-dark: #343434;
    --brown: #D1C8BD;
    --blue:  #ced4da;
}

body{
    background-color: var(--gray);
    font-family: Arial, sans-serif;
}

h1{
    margin-top: 20px;
    font-family: Arial, sans-serif;
    font-size: 50px;
}

h4{
    font-family: Arial, sans-serif;
}

.paragraph6{
    text-align: center;
}

form{

    background-color: #e1e1e1;
    width: 350px;
    margin-left: -5px;
    margin-right: 26px;
    border-radius: 20px;
    height: 400px;
    display: inline;
    margin-top: 50px;
}


button{
    justify-content: space-between;
    
}

.unread{

     margin-left: 20px;
    display: inline;
  
}




.u{
    margin-top: 47px;
    margin-right: 8px;
   
   
}


.col button{
    margin-top: 20px;
    height: 90px;
    width: 90px;
    color: black;
   
}


h5{
    margin-top: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    
}

h3{
    margin-top: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

p{
    margin-top: 30px;
    text-align: center;

}


.accordion {
    margin-top: 20px;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    font-size: 35px;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
  background: lightgrey;;
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }


  .image1{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    opacity: .7;

  }



  .notification {
  background: rgb(8, 78, 199);
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification:hover {
  background: rgb(8, 78, 199);
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}


  




