:root {
    --white: #ffffff;
    --gray: #adb5bd;
    --gray-light: #e1e1e1;
    --gray-dark: #343434;
    --brown: #D1C8BD;
    --blue:  #ced4da;
}
body {
    background-color: var(--gray);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}


.card {
  margin-top: 80px;
  width: 300px; /* Set a specific width for the card */
  margin-left: auto;
  margin-right: auto; /* These will center the card horizontally */
  display: block; /* Ensure the card is treated as a block-level element */
  padding: 20px;
  
}

.hr {
  border: none; /* Removes the default border */
  height: 2px;  /* Height of the line */
  background-color: #000; /* Line color */
  margin: 20px 0; /* Space around the line */
}






.product-list{
    margin-top: 70px;

 
   
}

.card img{
    border-radius: 20px;
    margin-left: -20px;
    margin-right: 20px;
    margin-top: -20px;
    
}


h1{
    margin-top: 80px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}


.image1{
    justify-content: center;
}


.btn{
    float: inline-end;
    justify-content: space-between;
    justify-content: space-around;
    margin: 10px;
    margin-top: -37px;

}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    }
         
            
            
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 85%;
    }
            
  .button-container {
    display: flex;
    margin-top: 40px;
    }
            
  .btn {
     padding: 8px 16px;
     border: none;
     border-radius: 4px;
      cursor: pointer;
    }
            
    .btn-yes {
      background-color: #4CAF50;
      color: white;
    }
    
    .btn-no {
      background-color: #f44336;
      color: white;
    }
          

.button-container {
  display: flex;
  justify-content: space-between;
}

.confirm{
  font-weight: bold;
}

.card{
  width: 23.4rem;
   border-radius: 25px;}

   













 