:root {
    --white: #ffffff;
    --gray: #adb5bd;
    --gray-light: #e1e1e1;
    --gray-dark: #343434;
    --brown: #D1C8BD;
    --blue:  #ced4da;
}

body{
    background-color: var(--gray);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.card{
    margin-top: 80px;
    border-radius: 20px;
}