
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --white: #ffffff;
    --gray: #adb5bd;
    --gray-light: #e1e1e1;
    --gray-dark: #343434;
    --brown: #D1C8BD;
    --blue:  #ced4da;
}


body{
    background: var(--blue);
    font-family: Arial, sans-serif;
}


.navbar i{
    float: left;
    font-size: 36px;
    margin-top: 18px;
    margin-left: 10px;
    font-weight: bold; /* Added this line to make the icons bold */
}



/* Form container */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Form fields */
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="contact"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  textarea {
    resize: vertical;
  }
  
  /* Submit button */
  button[type="submit"] {
    padding: 12px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
  }
  

  
 
  
  .error-message {
    color: #dc3545;
    font-weight: bold;
    margin-top: 5px;
  }


  h1{
    text-align: center;
    color: blue;
  }



  .popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 30px;
    border: 1px solid #888;
    width: 70%;
}
