:root {
  --white: #ffffff;
  --gray: #adb5bd;
  --gray-light: #e1e1e1;
  --gray-dark: #343434;
  --brown: #D1C8BD;
  --blue:  #ced4da;
}

body{
  background-color: var(--gray);
  font-family: Arial, sans-serif;
}

h1{
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: bold;
}


  
  .container {
    background-color: white;
    padding: 2rem;
    margin-top: 60px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
 
  }
  
  .rating {
    font-size: 2rem;
    color: #ccc;
    cursor: pointer;
  }
  
  .rating .star.active {
    color: #ffd700;
  }
  
  #review-text {
    width: 100%;
    height: 100px;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-top: 1rem;
  }
  
  #submit-review {
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
  }


  .navbar i{
    float: left;
    font-size: 30px;
    margin-top: .18px;
    margin-left: 10px;
    font-weight: bold; /* Added this line to make the icons bold */
  }



  h4{
    text-align: center;
  }

  p{
    text-align: center;
  }



  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 30px;
    border: 1px solid #888;
    width: 70%;
}



  


