<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet"href="{{ url_for('static', filename='about.css') }}"> 
    </head>
    <body>
        <nav class="navbar">
            <p>Driven Dynamics&nbsp;&nbsp;</p>
           <a href="#" onclick="goToLandingPage4('Login')"><button  class="w3-button w3-blue" type="submit" style="margin-right: -60px;" >Login</button >   </a> &nbsp; &nbsp; &nbsp; <a href="#" onclick="goToLandingPage3('Signup')"><button class="w3-button w3-blue" type="submit" style="margin-right: 50px;">Signup</button ></a>
        </nav>

        <div class="container">
            <img class="image1" src="{{ url_for('static', filename='images/lebo.jpeg') }}" alt="Example Image">
                <div class="overlay">
                  <span>About Us</span>
        </div>

            <br><br><br>
        <div>
            <h3>We reimagine the way the world moves for the better</h3>
            <p>Movement is what we power. It’s our lifeblood. It runs through our veins. It’s what gets us out of bed each morning. It pushes us to constantly reimagine how we can move better. For you. For all the places you want to go. For all the things you want to get. For all the ways you want to earn. Across the entire world. In real time. At the incredible speed of now.</p>
        </div>

        <br>
        <button class="accordion"> <h4>Mission Statement</h4></button>
        <div class="panel">
        <p>We are Driven Dynamics. The go-getters. The kind of people who are relentless about our mission to help people go anywhere and get anything and earn their way. Movement is what we power. It’s our lifeblood. It runs through our veins. It’s what gets us out of bed each morning. It pushes us to constantly reimagine how we can move better. For you. For all the places you want to go. For all the things you want to get. For all the ways you want to earn. Across the entire world. In real time. At the incredible speed of now.

            We are a tech company that connects the physical and digital worlds to help make movement happen at the tap of a button. Because we believe in a world where movement should be accessible. So you can move and earn safely. In a way that’s sustainable for our planet. And regardless of your gender, race, religion, abilities, or sexual orientation, we champion your right to move and earn freely and without fear. Of course, we haven’t always gotten it right. But we’re not afraid of failure, because it makes us better, wiser, and stronger. And it makes us even more committed to do the right thing by our customers, local communities and cities, and our incredibly diverse set of international partners.
            
            The idea for Uber was born on a snowy night in Paris in 2008, and ever since then our DNA of reimagination and reinvention carries on. We’ve grown into a global platform powering flexible earnings and the movement of people and things in ever expanding ways. We’ve gone from connecting rides on 4 wheels to 2 wheels to 18-wheel freight deliveries. From takeout meals to daily essentials to prescription drugs to just about anything you need at any time and earning your way. From drivers with background checks to real-time verification, safety is a top priority every single day. At Uber, the pursuit of reimagination is never finished, never stops, and is always just beginning.</p>
        </div>



        <div class="container">
            <img class="img2" src="{{ url_for('static', filename='images/thabang.png') }}" alt="Example Image">
            <h1 class="paragraph2">A letter from our CEO</h1>
            <p>Read about our team’s commitment to provide everyone on our global platform with the technology that can help them move ahead.</p>

            <div class="overlay1">
            <span onclick="">Read Thabang Letter</span>
    </div>

    
    <div>
        <br>
        <img class="img2" src="{{ url_for('static', filename='images/Johannesburg_-2016_(CC__BY)Adamina210125-040158.jpg') }}" alt="Example Image">
        <h2>Sustainability</h2>
        <p>Driven Dynamics is committing to becoming a fully electric, zero-emission platform by 2040, with 100% of rides taking place in zero-emission vehicles, on public transit, or with micromobility. It is our responsibility as the largest mobility platform in the world to more aggressively tackle the challenge of climate change. We will do this by offering riders more ways to ride green, helping drivers go electric, making transparency a priority and partnering with NGOs and the private sector to help expedite a clean and just energy transition.</p>
    </div>
    <br>


    

   
       


   
        
      
        <script src="{{ url_for('static', filename='mission.js') }}"></script>
    </body>
</html>