<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet"href="{{ url_for('static', filename='conditions.css') }}"> 
    </head>
    <body>

        <body>
            <nav class="w3-sidebar w3-hide-medium w3-hide-small" style="width:0%" >
           
            </nav>
    
            <!-- Hidden Sidebar (reveals when clicked on menu icon)-->
      <nav class="w3-sidebar w3-black w3-animate-right w3-xxlarge" style="display:none;padding-top:150px;right:0;z-index:2" id="mySidebar">
      <a href="javascript:void(0)" onclick="closeNav()" class="w3-button w3-black w3-xxxlarge w3-display-topright" style="padding:0 12px;">
        <i class="fa fa-remove"></i>
      </a>
      <div class="w3-bar-block w3-center">
        <a href="#" class="w3-bar-item w3-button w3-text-grey w3-hover-black" style="text-decoration: none;" onclick="goToLandingPage2('landing')">Home</a>
        <a href="#portfolio" class="w3-bar-item w3-button w3-text-grey w3-hover-black" style="text-decoration: none;" onclick="goToLandingPage17('landing')">Back</a>
        <a href="#about" class="w3-bar-item w3-button w3-text-grey w3-hover-black" style="text-decoration: none;" onclick="goToLandingPage28('review_display12')">Motoring News</a>
        <a href="#contact" class="w3-bar-item w3-button w3-text-grey w3-hover-black" style="text-decoration: none;" onclick="goToLandingPage1('Home')">Logout</a>
      </div>
    </nav>
    
    <!-- Page Content -->
    <div class="w3-main w3-padding-large" style="margin-left:0%">
    
      <!-- Menu icon to open sidebar -->
      <span class="w3-button w3-top w3-xxlarge w3-text-black w3-hover-text-black" style="width:auto;right:0;" onclick="openNav()"><i class="fa fa-bars"></i></span>


      <div>
        <h2 class="terms_condition">Driven Dynamics Terms & Conditions  </h2>

            <h4>Access to the Website is subject to the following terms & conditions </h4>
            <p class="paragraph">Upon accessing the Website or engaging with any aspect thereof and/or not necessarily registering thereon as mentioned in paragraph 8 below, you will be deemed to have accepted all of the terms & conditions that apply to its use, the information contained on the Website and to the facilities and services provided by it. Accordingly, please take the time to read through these terms & conditions before continuing to use the Website. If you do not agree to obey these terms & conditions you must stop using the Website immediately.
            
            We reserve the right to alter these terms & conditions at any time and it is your obligation to check if changes have been made. Your use of the Website after changes are posted on-line shall constitute acceptance of the changes in and to the terms & conditions.</p><br>
            <p class="rule"></p>
            <h4>In these terms & conditions:</h4>
            <p class="paragraph"> "we/us/our" means Homefind24 (Pty) Ltd trading as Driven Dynamics, a private company incorporated in South Africa with limited liability, and where applicable our associated companies;
            
            "Website" means this website including all aspects, facilities and services of any nature whatsoever related thereto;
            
            "you"/"your" means the user of the Website including users who have registered with us and where applicable, advertisers.</p><br>
            <p class="rule"></p>
            <h4>. Access to the Website</h4>
            <p class="paragraph">Access to the Website is permitted on a temporary basis, and we reserve the right to withdraw or amend the service provided on the Website without notice. From time to time, we may restrict access to some parts of the Website, or the entire Website, to you. We will not be liable if, for any reason, our site is unavailable at any time or for any period.</p>
            
           <h4> 2. Content </h4>
            <p class="paragraph">You agree that you will only use, reproduce and print material comprising the results of searches conducted on the Website for personal and non-commercial purposes. In particular, you may not use the contact details provided by advertisers of vehicles to contact such advertisers other than in connection with a genuine enquiry relating to the purchase by you of the vehicle in question.
            
            The Website content and information may contain technical inaccuracies and typographical errors. We exclude all liability for any illegality and/or any loss or damage incurred arising from such inaccuracies and typographical errors.
            
            The content of and information appearing on the Website may be altered, amended or updated from time to time and may at times be out of date. We will not be held to any previously existing representations, terms, conditions or other information subsequently altered on the Website. We accept no responsibility for keeping the information and content on the Website up to date nor do we accept any liability for any failure to do so.
            
            The information appearing on the Website is for information purposes only and does not constitute advice. You should not rely on any such information or content to make (or refrain from making) any decision or take (or refrain from taking) any action.
            
            Through the Website, we present advertorial content and information submitted and created by private and trade dealers and other third parties. We exclude all liability for any illegality arising from or error, omission or inaccuracy in such content and/or information.
            
            We give no warranties, conditions, guarantees or representations, expressed or implied, as to:
            
            The completeness or accuracy of information or any advice that may contained on the Website or any website to which it is linked;
            The content of the advertisements for vehicles appearing on the Website, including but not limited to, the ownership, quality, authenticity of any photographs, compliance with description or fitness for purpose of any such vehicles;
            The completeness of the results of any search conducted on the Website or that the vehicles revealed by such search are the only vehicles on our database which might meet the requirements of your search.</p><br>
            <h4> 3. Contractual issues</h4>
            We will not be bound to any allegations from you that a contract or legally binding arrangement has been entered into between you and us arising from communications addressed to us on the Website. We reserve the right to insist upon written contracts as and when we deem appropriate within our discretion. As such, any information contained on the website cannot be regarded by you as an offer capable of acceptance resulting in a legally binding contract.
            
           <h4> 4. Liability</h4>
           <p class="paragraph"> The information and material displayed on the Website is provided without any guarantees, conditions or warranties as to accuracy. To the extent permitted by law, we, our employees, agents, representatives, contractors and third parties connected to us hereby expressly exclude:<br><br>
            
            1. All conditions, warranties and other terms which might otherwise be implied by statute;<br>
            
            2. Any liability for any direct, indirect or consequential loss or damage whatsoever and howsoever incurred by you in connection with:b<br><br>
            
            Our failure to fulfil any of our obligations in terms hereof;
            The Website or resulting from the use, the inability to use, the Website;
            The search results obtained from the Website;
            Any websites linked to the Website and any material posted on it.
            We exclude all representations and warranties relating to the access to and use of the Website, whether they are statutory or otherwise, as far as is possible by law.
            
            As part of its user offering Driven Dynamics offers a valuation service which is based and reliant for effectiveness on the accuracy of your input about any given vehicle. It relies on recorded selling prices over the past 12 months for that vehicle specification to help guide you to a more realistic value for your vehicle. The service is not intended to be definitive of the vehicle’s value, the determination of which remains entirely in your discretion. It is intended to assist you as a reliable guide only. As such, Driven Dynamics accepts no liability whatsoever for any loss or harm you may allege to have suffered in consequence of using the service to sell your vehicle.
            
            We will need to carry out routine maintenance and servicing of our servers and equipment from time to time. While we will seek to keep disruption to a minimum, we cannot guarantee that the Website will be continuously available on-line. We therefore provide the Website on an "as is" and "as available" basis.
            
            We make no warranty that the Website (or websites which are linked to the Website) is free from computer viruses or any other malicious or impairing computer programs. It is your responsibility to ensure that you use appropriate virus checking software.
            
            We are not liable for any failure to perform any of our obligations under these terms & conditions caused by matters beyond our reasonable control.
            
            We publish content on the website and elsewhere from time to time containing marketing material, internal and/or external research findings, surveys, statistics and similar information on our business and area of trade, competitors and related parties for your edification. We shall not be held liable to honour, explain or compensate you or anyone else for any loss or prejudice which may arise from the publication of such information.</p>
            
            <h4>. Intellectual Property</h4>
            <p class="paragraph">All intellectual property including trade marks, names and logos, whether registered or not, embodied in the Website content, are the proprietary marks of us. Marks identifying third parties are owned or licensed by those third parties or their associated companies. Nothing in these terms & conditions in any way confers on you any licence or right under any trade marks, names or logos.
            
            All rights, including copyright, in the content of the Website and the photographs of any vehicles displayed on the Website from time to time and all rights in our database of vehicles, are owned and/or controlled by us.
            
            Except as expressly permitted by these terms & conditions, you may not copy, reproduce, redistribute, download, republish, transmit, display, adapt, alter, create derivative works from or otherwise extract, by way of “scraping” or otherwise, or re-utilise any of the contents of the Website or authorise any person, or procure any other person to do so. In particular, you may not cache any of the contents for access by third parties nor mirror or frame any of the content of the Website nor incorporate it into another website, or authorise or procure any other person to do so, without our express written permission.
            
            Any intellectual property embodied in the information provided by an advertiser and utilised on the Website is hereby assigned to us.</p>
            <p class="rule"></p>
            
            
      </div>











      <script>
        // Open and close sidebar
        function openNav() {
          document.getElementById("mySidebar").style.width = "60%";
          document.getElementById("mySidebar").style.display = "block";
        }
        
        function closeNav() {
          document.getElementById("mySidebar").style.display = "none";
        }
        </script>
      
    
      
    <script>
        // Open and close sidebar
        function openNav() {
          document.getElementById("mySidebar").style.width = "60%";
          document.getElementById("mySidebar").style.display = "block";
        }
        
        function closeNav() {
          document.getElementById("mySidebar").style.display = "none";
        }
        </script>



        <script src="{{ url_for('static', filename='enquiry.js') }}"></script>

    </body>
    </html>
