<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet"href="{{ url_for('static', filename='landing.css') }}"> 
       
    </head>


    <style>
        body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
        .w3-row-padding img {margin-bottom: 12px}
        .bgimg {
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          background-image: url('/w3images/profile_girl.jpg');
          min-height: 100%;
        }
        </style>



        <style>
            div.scroll-container {
              background-color: #333;
              overflow: auto;
              white-space: nowrap;
              padding: 10px;
            }
            
            div.scroll-container img {
              padding: 10px;
            }
            </style>
    <body>
        <nav class="w3-sidebar w3-hide-medium w3-hide-small" style="width:40%" >
       
           
          </nav>

          <!-- Hidden Sidebar (reveals when clicked on menu icon)-->
<nav class="w3-sidebar w3-black w3-animate-right w3-xxlarge" style="display:none;padding-top:150px;right:0;z-index:2" id="mySidebar">
    <a href="javascript:void(0)" onclick="closeNav()" class="w3-button w3-black w3-xxxlarge w3-display-topright" style="padding:0 12px;">
      <i class="fa fa-remove"></i>
    </a>
    <div class="w3-bar-block w3-center">
      <a href="#" class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="goToLandingPage1('')">Home</a>
      <a href="#portfolio" class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="goToLandingPage17('car_sell')">Back</a>
      <a href="#about" class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="closeNav3()">Motoring News</a>
      <a href="#contact" class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="goToLandingPage1('')">Logout</a>
    </div>
  </nav>
  
  <!-- Page Content -->
  <div class="w3-main w3-padding-large" style="margin-left:40%">
  
    <!-- Menu icon to open sidebar -->
    <span class="w3-button w3-top w3-xxlarge w3-text-black w3-hover-text-black" style="width:auto;right:0;" onclick="openNav()"><i class="fa fa-bars"></i></span>


    <div class="container">
        <!-- Check if user is logged in -->
        {% if 'email' in session %}
        <li class="option">
            <!-- Display logged-in user's email -->
            Logged in as: {{ session['email'] }}
        </li>
        <li class="option">
            <!-- Add logout link -->
            <a href="{{ url_for('logout') }}">Logout</a>
        </li>
        {% endif %}
        <h1 class"header">Find your Dream car</h1>
        <p class"paragraph1">Find cars near you for sale</p>
        
        <img  src="{{ url_for('static', filename='/images/Ford-EcoSport-Right-Front-Three-Quarter-159249.webp') }}" alt="Example Image">
        
        <input type="text" id="searchInput" placeholder="Search...">
        <ul id="categoryList">
            <li class="category">BMW</li>
          <li class="category">Nissan</li>
          <li class="category">Audio</li>
          <li class="category">Toyota</li>
          <li class="category">VW</li>
          <li class="category">Ford</li>
        </ul>
        
      </div>

      <div class"category1">
     <h1>Choose a brand of car</h1>
     <span class="tag-cloud" onclick="goToLandingPage10('volvo')">Volvo</span> 
     <span class="tag-cloud"  onclick="goToLandingPage('')">BMW</span>
    <span class="tag-cloud"  onclick="goToLandingPage('')">Tesla</span>
    <span class="tag-cloud"  onclick="goToLandingPage('')">Nissan</span>
    <span class="tag-cloud"  onclick="goToLandingPage('')">Toyota</span>
    <span class="tag-cloud"  onclick="goToLandingPage('')">Suzuki</span>
    <span class="tag-cloud"  onclick="goToLandingPage('')">Ford</span>
    <span class="tag-cloud"  onclick="goToLandingPage('')">VW</span>
    <span class="tag-cloud"  onclick="goToLandingPage('')">Audio</span>
    <p class"paragraph5">____________________________________________________________________</p>
</div>

    <div class="scroll-container">
        <img  src="{{ url_for('static', filename='/images/uIxxtg9InzlH7fRkDKUFshfkYyarYCvWLrDQmJ0r.webp') }}"width="400" height="300">
        <img  src="{{ url_for('static', filename='/images/8eb984ed975e559942db89ccbec95874.jpg') }}"width="400" height="300">
        <img  src="{{ url_for('static', filename='/images/ford-focus-ST-X-magnetic-min.jpg') }}"width="400" height="300">
        <img  src="{{ url_for('static', filename='/images/Volkswagen-Polo3-ojqp0eug86q4h81s4waycwmqacsafpkay33fl2yow8.jpg') }}"width="400" height="300">
        
      </div>
</div>


<div>
  <h3>Want to Sell a car?
    <a href="your-link-here">Click Here</a>
</h3>
</div>

  


      








      <script>
        // Open and close sidebar
        function openNav() {
          document.getElementById("mySidebar").style.width = "60%";
          document.getElementById("mySidebar").style.display = "block";
        }
        
        function closeNav() {
          document.getElementById("mySidebar").style.display = "none";
        }
        </script>
      
  
      
    <script>
        // Open and close sidebar
        function openNav() {
          document.getElementById("mySidebar").style.width = "60%";
          document.getElementById("mySidebar").style.display = "block";
        }
        
        function closeNav() {
          document.getElementById("mySidebar").style.display = "none";
        }
        </script>


        
      
     
             
      
                 


        <script src="{{ url_for('static', filename='script.js') }}"></script>
        
        
    </body>
</html>